
/* 
    Created on : 23 mai 2017, 13:29:04
    Author     : Lionel
*/

#contactContainer {
    width : 100%;
}

.contact {
    width: 100%;
    height: 50px;
    border: 1px solid black;
}

.mainCell {
    width : 100%;
    height: 100%;
}

#infoCells {
    width : 80%;
    /*border : 1px solid black;*/
}

.subCell {
    height: 100%;
    float : left;
}

.infoCell {
    float : left;
    width : 23%;
    margin : 1% 0px;
}